.Graph {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-items: center;
    align-items: baseline;
}

.SevenDays h2 {
    font-size: 28px;
    color:  hsl(25, 47%, 15%);
}

.SevenDays {
    display: grid;
    grid-template-rows: 100px auto;
}